{% load cms_tags menu_tags sekizai_tags %}
<html>
<head>
        {% render_block "css" %}
</head>
<body>
    {% cms_toolbar %}
    Hello world!

    {% if pet %}
        There's a placeholder right below the text!
        {% render_placeholder pet.placeholder "640" %}
    {% else %}
        There's no such pet configured yet.
        <form action="{% url 'pets' pet_name %}" method="post">
            {% csrf_token %}
            <button type="submit">Create one?</button>
        </form>
    {% endif %}

    Footer!
    {% render_block "js" %}
</body>


</html>

